:root {
  --r-main-font-size: 50px;
}

.callout-tip {
   position:fixed;
   bottom: 1rem;
   width: 99%;
}

.cell {
  font-size: 3rem;
}

.cell-code {
  font-size: 4rem;
}

.reveal pre code {
  border-radius: 5px;
}

.reveal pre.sourceCode {
  background-color: #fff !important;
}

div.callout {
  font-size: 0.5em !important;
}

.panel-tabset [role="tab"][aria-selected="true"] {
  background-color: lightgrey !important;
}